.toolbar-container {
  display: flex;
  justify-content: space-between;
}
.example-icon {
  color: white;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}
::ng-deep .cdk-overlay-pane {
  top: 90px;
}
